﻿@model CarStore.UI.Models.FullCarViewModel

@{
    ViewBag.Title = "Details - " + Model.Name;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Html.DisplayFor(car => car.Name)</h3>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <img src="http://placehold.it/500x500" width="500" height="500" class="img-thumbnail"/>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(car => car.Engine):</strong> @Html.DisplayFor(car => car.Engine)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(car => car.MaxSpeed):</strong> @Html.DisplayFor(car => car.MaxSpeed) @MyHelpers.Speed()
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(car => car.Description):</strong><br/>@Html.DisplayFor(car => car.Description)
                </div>
            </div>
        </div>
    </div>
</div>