﻿@using CarStore.UI.Infrastructure
@model CarStore.UI.Models.FullCarViewModel

@{
    ViewBag.Title = "Edit -" + Model.Name;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edit - @Html.DisplayFor(car => car.Name)</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">@Html.ValidationSummary()</div>
        @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(car => car.Id)
            <div class="form-group">
                @Html.LabelFor(car => car.Name, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(car => car.Name, new { @class = "form-control" })
                    <div>
                        @Html.ValidationMessageFor(car => car.Name)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(car => car.Engine, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(car => car.Engine, new { @class = "form-control" })
                    <div>
                        @Html.ValidationMessageFor(car => car.Engine)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(car => car.MaxSpeed, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(car => car.MaxSpeed, new { @class = "form-control" })
                    <div>
                        @Html.ValidationMessageFor(car => car.MaxSpeed)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(car => car.Description, new {@class = "col-xs-2 control-label"})
                <div class="col-xs-10">
                    @Html.TextAreaFor(car => car.Description, new {@class = "form-control", rows = "3"})
                    <div>
                        @Html.ValidationMessageFor(car => car.Description)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(car => car.Date, new { @class = "col-xs-2 control-label" })

                <div class="col-xs-10">
                    @Html.DatepickerFor(car => car.Date, new { @class = "form-control" })
                    <div>
                        @Html.ValidationMessageFor(car => car.Date)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(car => car.InStock) In stock
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        }
    </div>
</div>